menu "Example Configuration"
    choice EXAMPLE_LCD_DATA_LINES
        prompt "RGB LCD Data Lines"
        default EXAMPLE_LCD_DATA_LINES_16
        help
            Select the number of data lines of the RGB LCD.

        config EXAMPLE_LCD_DATA_LINES_16
            bool "16 data lines"

        config EXAMPLE_LCD_DATA_LINES_24
            bool "24 data lines"
    endchoice

    config EXAMPLE_LCD_DATA_LINES
        int
        default 16 if EXAMPLE_LCD_DATA_LINES_16
        default 24 if EXAMPLE_LCD_DATA_LINES_24
    
    choice EXAMPLE_RGB_PANEL_CONTROLLER
        prompt "RGB PANEL driver IC"
        default EXAMPLE_LCD_CONTROLLER_NV3052C
        help
            Select RGB PANEL driver IC
        
        config EXAMPLE_LCD_CONTROLLER_NV3052C
            bool "nv3052c"
        config EXAMPLE_LCD_CONTROLLER_ST7701S
            bool "st7701s"
        config EXAMPLE_LCD_H040A18
            bool "H040A18"
        config EXAMPLE_LCD_H035A17
            bool "H035A17"    
    endchoice

    config EXAMPLE_LCD_USE_TOUCH_ENABLED
        bool "LCD USE TOUCH PANEL"
        default n
endmenu
